[Desktop Entry]
Version=1.0
Type=Application
Name=Calcurse
GenericName=Calendar
TryExec=calcurse
Exec=kitty calcurse
Categories=Office
Path=
Terminal=false
