[Desktop Entry]
Version=1.0
Type=Application
Name=ncmpcpp
GenericName=Music Player
TryExec=ncmpcpp
Exec=ncmpcpp
Categories=Multimedia
Path=
Terminal=true
